.navbar {
  padding-left: 10%;
  padding-right: 10%;
}

.dropdown-styles {
  transform: translateY(-15%);
  transition: all 1s ease-in-out;

}


@media (max-width: 1024px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-menu-item {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
  }
}

@media (min-width: 768px) {

  .nav-menu-item {
    display: flex;
    justify-content: flex-end;
  }

}

.navLogo {
  max-width: "100%";
  /* width: 30px; */
  height: 50px;
}

.navbar ul li {
  padding-right: 5px;
}

.nav-item:hover {
  color: brown;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 1200px) {
  .nav-responsive {
    justify-content: center;
  }
}