#headingMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
  flex-direction: column;
}

#iconsUl {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-inline-start: 0px !important;
}

#headingSpan {
  color: #fffafa !important;
  font-family: 'Poppins';
  font-size: 29px;
  text-align: center;
  width: 50%;
  margin-top: 20px;
  border-top: 0.5px solid white;
  padding: 50px 50px 30px 50px;
}

#imgBorder {
  border-bottom: 1px solid white;
  padding: 50px;
}

#mainDiv {
  background: url(../../public/hero.png);
  height: 110vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1441px) and (min-width: 768px) {
  #mainDiv {
    /* height: 100vh; */
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 1024px) {
  #mainDiv {
    height: 70vh;
  }
  #headingMain {
    margin-top: 260px;
  }
  #headingSpan {
    margin-top: 0px;
    padding: 20px 20px 10px 20px;
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  #mainDiv {
    height: 50vh;
  }
  #headingMain {
    margin-top: 225px;
  }
  #headingSpan {
    font-size: 18px;
    margin-top: 0px;
    padding: 2px 25px 5px 25px;
    width: 80%;
  }
  #btnSet {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 425px) {
  #mainDiv {
    background-position: -100px 15px;
    max-width: 100%;
    height: auto;
  }
  #headingMain {
    margin-top: 110px;
  }
  #headingSpan {
    font-size: 13px;
    margin-top: 0px;
    padding: 2px 15px 2px 15px;
    width: 90%;
  }
}
@media only screen and (max-width: 375px) {
  #mainDiv {
    background-position: -130px 15px;
    max-width: 100%;
    height: auto;
  }
  #headingMain {
    margin-top: 110px;
  }
  #headingSpan {
    font-size: 13px;
    margin-top: 0px;
    padding: 2px 15px 2px 15px;
    width: 90%;
  }
}
@media only screen and (max-width: 320px) {
  #mainDiv {
    background-position: -160px 15px;
    max-width: 100%;
    height: auto;
  }
  #headingMain {
    margin-top: 110px;
  }
  #headingSpan {
    font-size: 13px;
    margin-top: 0px;
    padding: 2px 15px 2px 15px;
    width: 90%;
  }
}
#btnSet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

#btnLaunchDiv {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #e73b22;
  border-radius: 25px;
  color: white;
  width: 300px;
  height: 60px;
  border-color: tomato;
  padding-left: 50px;
  padding-right: 50px;
}

div#btnLaunchDiv button#btnLaunch {
  transition: 0.5s;
  transform: translateX(0px);
}
div#btnLaunchDiv:hover button#btnLaunch {
  transition: 0.5s;
  transform: translateX(-60px);
}
div#btnLaunchDiv:hover img {
  transition: 0.5s;
  transform: translateX(160px);
}
div#btnLaunchDiv img {
  transition: 0.5s;
  transform: translateX(0px);
}
#imgSet {
  /* position: relative !important; */
  height: auto !important;
  width: 30px !important;
}
#btnLaunchDiv div {
  overflow: inherit !important;
}

#btnLaunch {
  background: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 22px !important;
}

#btnBuyUnit {
  background: transparent;
  border: none;
  color: #e73b22;
  font-weight: 600;
  font-size: 22px !important;
}

#btnSetUnitDiv {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border-radius: 25px;
  color: #e73b22;
  width: 300px;
  height: 60px;
  border-color: tomato;
  padding-left: 50px;
  padding-right: 50px;
}

#imgSetUnit {
  /* position: relative !important; */
  height: auto !important;
  width: 30px !important;
}

#btnSetUnitDiv div {
  overflow: inherit !important;
}

div#btnSetUnitDiv button#btnBuyUnit {
  transition: 0.5s;
  transform: translateX(0px);
}
div#btnSetUnitDiv:hover button#btnBuyUnit {
  transition: 0.5s;
  transform: translateX(-60px);
}
div#btnSetUnitDiv:hover img {
  transition: 0.5s;
  transform: translateX(160px);
}
div#btnSetUnitDiv img {
  transition: 0.5s;
  transform: translateX(0px);
}
