#MainHeadingAspectKey {
  background: #001325;
  background-image: url('../../public/nervo.png');
  background-size: auto;
  background-position: bottom left;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  /* margin-top: 50px; */
  padding-top: 10%;
}

.keyAspectsIcons {
  color: #d85439;
  font-size: 33px;
  text-align: center;
}

.keyAspectsIcons:hover {
  color: antiquewhite;
}

.keyAspectsText h3 {
  color: antiquewhite;
  text-align: center;
  padding-top: 15px;
  font-size: 21px;
}

#keyAspectHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#keyAspectSpan {
  color: white;
  font-size: 40px;
}

#btnStartDiv div {
  overflow: inherit !important;
}

#btnStartDiv {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #e73b22;
  border-radius: 25px;
  color: white;
  width: 350px;
  height: 60px;
  border-color: tomato;
  padding-left: 50px;
  padding-right: 50px;
}

#btnStart {
  background: transparent;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 22px !important;
}

div#btnStartDiv button#btnStart {
  transition: 0.5s;
  transform: translateX(0px);
}
div#btnStartDiv:hover button#btnStart {
  transition: 0.5s;
  transform: translateX(-70px);
}
div#btnStartDiv:hover img {
  transition: 0.5s;
  transform: translateX(200px);
}
div#btnStartDiv img {
  transition: 0.5s;
  transform: translateX(0px);
}

#divSetAspectKey {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

#contentDiv {
  display: flex;
  align-items: center;

  flex-direction: column;
  width: 300px;
}

#setAspectinnerheading {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

#btnBuy {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #e73b22;
  border-radius: 25px;
  color: white;
  font-size: 24px;
  width: 250px;
  height: 60px;
  border-color: #e73b22;
  padding-left: 50px;
  padding-right: 50px;
}

#sliderHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.alice-carousel__dots {
  display: none !important;
}
.alice-carousel__next-btn-item {
  display: none !important;
}
.alice-carousel__prev-btn-wrapper {
  display: none !important;
}

#sliderHeadingSpann {
  font-size: 60px;
  color: white;
}

#couresolSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
#couresolSliderImg {
  width: 25%;
}
#couresolSliderDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#couresolSliderSpan {
  font-size: 60px;
  color: white;
}

#couresolSliderContent {
  font-size: 26px;
  color: white;
}

#KeyAspectMainSliderDiv {
  margin-top: 100px;
  width: 100%;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #couresolSliderImg {
    width: 35%;
  }
  #couresolSliderSpan {
    font-size: 45px;
  }
  #couresolSliderContent {
    font-size: 20px;
  }
  #sliderHeadingSpann {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  #keyAspectHeading {
    justify-content: center;
  }
  #couresolSliderImg {
    width: 38%;
  }
}

@media only screen and (max-width: 428px) and (min-width: 280px) {
  #MainHeadingAspectKey {
    padding-left: 10%;
    padding-right: 10%;
  }
  #keyAspectHeading {
    justify-content: center;
    align-items: center;
  }
  #btnStart {
    font-size: 17px !important;
  }
  #divSetAspectKey {
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
  #sliderHeading {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #sliderHeadingSpann {
    font-size: 38px;
  }
  #couresolSliderImg {
    width: 65%;
  }
  #couresolSlider {
    flex-direction: column;
    gap: 20px;
  }
  #couresolSliderDiv {
    width: 100%;
    gap: 10px;
    align-items: center;
  }
  #couresolSliderSpan {
    font-size: 41px !important;
  }
  #couresolSliderContent {
    font-size: 20px;
    text-align: center;
  }
  #btnBuy {
    width: 210px;
  }
  #KeyAspectMainSliderDiv {
    margin-top: 30px;
  }
}
